@model IEnumerable<CRUDPLANILLA.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoDPI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BonoDecreto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioLogin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordLogin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoDPI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BonoDecreto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUsuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUsuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
