@model IEnumerable<CRUDPLANILLA.Models.Planilla>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IGSS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IRTRA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioLiquido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IGSS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IRTRA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioLiquido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Registro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Registro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Registro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
